.searchContainer {
    width: 500px
  }  

.clearBtn {
  display: flex; 
  justify-content: flex-end; 
  width: 100%;
  padding-right: 5px
}

@media (max-width: 500px) {
  .searchContainer {
    width: 80%;
  }
}